.Registration-form {
    width: 40vw;
    height: 80%;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .Registration-form-prompt {
        a {
            color: #1976d2;
            margin-left: 5px;
        }
    }

    .Registration-form-error {
        color: #d32f2f;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.66;
        letter-spacing: 0.03333em;
        text-align: left;
    }
}